* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: navy;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1{
    font-size: 95px;
    margin-bottom: 50px;
}
.content a {
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 23px;
    border-radius: 50px;
    padding: 20px 25px;
    font-weight: bold;
    transition: 0.3s;
}

.content a:hover {
    background-color: #fff;
    color: #000;
}

.background-clip {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}