* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: navy;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #ccc;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}